# Dependency directories
jspm_packages/
web_modules/

# Optional npm cache directory
.npm/

# Operating System Files 
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db

# IDEs and Editors settings 
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp